body {
    font-family: "Roboto Mono", 
    monospace;
    background-image: url("images/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(249, 239, 239, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(249, 239, 239, 0.9);
    
}

.page-title {
    color: #000000;
    margin: 0, 0 5px;

}

.page-subtitle {
    color: #000000;
    margin-top: 5px;
    
}
input {
    margin: 12px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #000000;
}

button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #000000;
}

h2 {
    color: #000000;
    font-size: 20px;
}

/* Media queries para telas menores (celulares) */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .page-title {
        font-size: 24px;
    }

    .page-subtitle {
        font-size: 18px;
    }

    input {
        margin: 8px;
        padding: 4px;
        border-radius: 8px;
    }

    button {
        margin-top: 8px;
        padding: 4px;
        border-radius: 8px;
    }

    h2 {
        font-size: 18px;
    }
}

/* Media queries para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        padding: 15px;
    }

    .page-title {
        font-size: 28px;
    }

    .page-subtitle {
        font-size: 22px;
    }

    input {
        margin: 10px;
        padding: 5px;
        border-radius: 9px;
    }

    button {
        margin-top: 10px;
        padding: 5px;
        border-radius: 9px;
    }

    h2 {
        font-size: 22px;
    }
}

/* Media queries para computadores */
@media (min-width: 1025px) {
    .container {
        padding: 20px;
    }

    .page-title {
        font-size: 32px;
    }

    .page-subtitle {
        font-size: 26px;
    }

    input {
        margin: 12px;
        padding: 6px;
        border-radius: 10px;
    }

    button {
        margin-top: 12px;
        padding: 6px;
        border-radius: 10px;
    }

    h2 {
        font-size: 26px;
    }
}

